!!! 5
%html(lang="en")
	%head
		%title= yield_content :title
		%meta(charset="UTF-8")/
		%meta(property="og:title" content="#{yield_content :title}")/
		%meta(prperty="og:site_name" content="#{yield_content :title}")/
		%link(rel="stylesheet" type="text/css" href="/scss/#{settings.theme}.scss")/
		= yield_content :assets
	%body
		#wrapper
			%header
				%ul
					%li#brand= yield_content :title
					- if type == :show
						- if @data[:type] == "image"
							%li#extension /#{@data[:id]}.#{@extension} | #{@humanrsize} (#{@width} × #{@height}, #{@ratio})
						- else
							%li#extension /#{@data[:id]}.#{@extension} | #{@humanrsize}

						%li.pull_right
							%a.button(href="#{@data[:id]}/download") Download
			#content
				.padding
					= yield
				#push
		%footer
			%p
				%span.copy &copy;&nbsp;
				= settings.copyright
